@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

iframe {
  width: 90vw;
  height: 400px;
  margin-left: 5vw;
}

.clients_review {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.clients_review h1 {
  font-weight: 700;
  font-size: 44px;
  text-align: center;
  color: #000000;
}

.review_cars_swiper {
  width: 100%;
  position: relative;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 29vw;
  transition: width 0.3s;
}

@media (min-width: 280px) {
  .swiper-slide img {
    width: 90vw !important;
  }
}
@media (min-width: 550px) {
  .swiper-slide img {
    width: 44vw !important;
  }
}
@media (min-width: 1024px) {
  .swiper-slide img {
    width: 29vw !important;
  }
}
.rare_questions {
  width: 90vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.rare_questions h1 {
  font-weight: 700;
  font-size: 44px;
  color: #000;
}
.rare_questions ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  border-top: 1px solid rgb(200, 200, 200);
}
.rare_questions ul li {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.rare_questions ul li h5 {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}
.rare_questions ul li p {
  display: none;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-left: 15px;
}
.rare_questions ul li:hover p {
  display: block;
}

.contact_us {
  width: 90vw;
  min-height: 700px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.contact_us #contact_us_background {
  min-height: 700px;
  position: absolute;
  z-index: 0;
}
.contact_us form {
  z-index: 1;
  max-width: 460px;
  min-height: 485px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 15px;
  margin: 20px;
}
.contact_us form h2 {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}
.contact_us form p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.contact_us form p input {
  width: 20px;
  height: 20px;
  margin: 0;
}
.contact_us form input {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding-left: 15px;
}
.contact_us form a {
  width: 100%;
}
.contact_us form a button {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  text-align: center;
  background: #fa002c;
  border: 1px solid #fa002c;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}
.contact_us form h3 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.contact_us .contact_us_context {
  max-width: 650px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  background: #fff;
  border-radius: 20px;
  padding: 15px;
  margin: 20px;
}
.contact_us .contact_us_context h1 {
  font-weight: 700;
  font-size: 44px;
  color: #000;
}
.contact_us .contact_us_context .contact_us_item {
  font-weight: 400;
  font-size: 20px;
  color: #000;
  gap: 10px;
  width: 100%;
  max-width: 650px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1250px) {
  .contact_us {
    flex-direction: column;
  }
  #contact_us_background {
    height: 100%;
  }
}
.locations {
  width: 90vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.locations h1 {
  font-weight: 700;
  font-size: 44px;
  color: #000;
}
.locations ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.locations ul li {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
}
.locations ul li p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
}
.locations ul li h2 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
.locations ul li img {
  width: 120px;
}

/*# sourceMappingURL=style.css.map */
